@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: "Open Sans", sans-serif;
}
button{
    /* outline: none; */
}
body{
    background-color: rgba(19, 18, 18, 0.938);
    overflow-x: hidden;
    /* height: 200px; */
    /* background-color: rgb(56, 62, 76); */
    /* above will make the screen all 1 color */
}

header{
    display: flex;
    background-color: rgb(56, 62, 76);
    justify-content: center;
    padding: .6em;
}


header p{
    /* background-color: black; */
    /* justify-content: space-around; */
    padding: .5em 2em;
    color: white;
    border: 1px solid grey;
    margin-left: .5%;
    margin-right: .5%;
}
header p:hover{
    background-color: rgb(73, 80, 95);
}
/* background for hero img here */
.hero-image{
    /* margin-top: .5%; */
    background-image: url('assets/img11.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.top h2{
    font-size: 3rem;
    /* targets the hero text */
}
.top p{
    font-size: 1.4rem;
    /* targets the branding statement here text */
}

/* below is the code for getting the 3 cards set up */
.three-cards {
    display: flex;
    justify-content: center; 
    gap: 3%;
    /* padding: 20px; */
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.top-cards {
    background-color: rgb(242, 242, 242);
    /* padding: 20px; */
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 24%;
    /* padding: 20px; */
    margin-top: 5%;
}

.top-cards img {
    width: 100%;
    height: auto;
}

.top-cards h3 {
    /* color: #2c7cbd; */
    margin: .5em 0 1em;
    font-size: 1.2em;
}


.top-cards p {
    flex-grow: 1;
    font-size: 0.95em;
    margin: 1em 0;
    color: black;
    margin-left: 1em;
    margin-right: 1em;
}

.top-cards button {
    padding: .5em 1.5em;
    border: none;
    color: white;
    cursor: pointer;
    /* margin-top: 15px; */
    font-size: 1em;
}

/* Specific colors for each button */
.card-1 button {
    background-color: #4CAF50;
}

.card-2 button {
    background-color: #1E90FF;
}

.card-3 button {
    background-color: #A52A2A;
}
.card-1 h3{
    color: #4CAF50;
}
.card-2 h3{
    color: #1E90FF;
}

.card-3 h3{
    color: rgb(102, 102, 102);

}
.top-button{
    border-radius: 7%;
    margin-bottom: 13%;
}

/* holder of the two mid cards */
.two-cards{
    margin-top: 3%;
    display: flex;
    max-width: 70%;
    justify-self: center;
    /* background-color: black; */
    gap: 3%;
}


.mid-one-card, .mid-two-card{
    background-color: rgb(242, 242, 242);
    width: 50%;
}
.mid-one-card img, .mid-two-card img{
    width: 100%;
}

.mid-one-card h3, .mid-two-card h3{
    /* background-color: black; */
    /* align-self: center; */
    justify-self: center;
    margin-top: 3%;
    margin-bottom: 5%;
}
.two-cards p{
    padding: 4%;
    font-size: .8em;
}
.mid-two-card button{
    padding: .5rem 1rem;
    border-radius: 8px;
    background-color: white;
    /* color of page */
    /* background-color: black; */
    margin-left: 50%;
    margin-bottom: 6%;
}

body{
    /* height: 9000px; */
    /* only so i can scroll down cause i dont like being at the very bottom :| */
}
.mid-two-card p:nth-of-type(2){
    /* margin-bottom: 40%; */
    /* bruh why th are these linked together */
}

/* mountian img n stuff here */
.mountians-img{
    background-image: url('assets/img13.jpg');
    /* background-size: 120%; */
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 20vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 5%;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.mtext{
    width: 50%;
}
.mtext p{
    margin-top: 2%;
    margin-bottom: 6%;
    font-size: .8em;
}
.mtext h3{
    font-size: 1.5em;
}

/* the 4ths go here lol */
.four-boxes{
    display: flex;
    max-width: 70%;
    /* justify-self: space-between; */
    margin: 0 auto;
    gap: 2%;
    margin-top: 4%;

}
.four-boxes .one-fourth{
    background-color: rgb(242, 242, 242)
}
.four-boxes img{
    width: 100%;
}
.four-boxes h3{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: .8em;
    text-align: center;
}
.four-boxes p:first-of-type{
    font-size: .6em;
    margin-left: 10%;
    margin-left: 10%;
}
/* .four-boxes p:nth-of-type(2){ */
    /* padding: .2em .8em; */
    /* border-radius: 5px; */
    /* align-content: center; */
    /* color: black; */
    /* outline: black; */
    /* text-decoration: none; */
    /* justify-self: center; */
    /* align-self: center; */
/* } */
.one-fourth button{
    display: block;
    padding: .2em 1em;
    font-size: 70%;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    justify-self: center;
    /* justify-tracks: center; */
    /* margin-left: 50%; */
    /* margin-right: 50%; */
}
.one-big-column{
    /* margin-bottom: 10px; */
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.5%;
    /* width: 70%; */
    /* background-color: black; */
}
.one-big-column h3, p{
    /* padding: 10px; */
    margin-left: 2%;
    margin-right: 2%;
}
.one-big-column h3{
    margin-top: 4%;
    margin-bottom: 1%;
}
.one-big-column p{
    font-size: .8em;
    
}
.one-big-column button{
    /* display: inline-block; */
    width: 15%;
    justify-content: center;
    /* margin: 0 auto; */ /*bruh we dont even need this*/
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}
/* below is contact form */
/* part that sucks here */
.custom-form-container {
    margin-top: 1em;
    /* padding: 20px; */
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: auto;
    background-image: url('assets/img14.jpg'); /* Update this path as needed */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.custom-description {
    width: 40%; /* Set total width to 40% */
    margin: 0 auto 1em auto; /*idk what the hell this does*/
    /* justify-content: center; */
    /* margin: 0 auto; */
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 8px;
    padding: 2em;
    font-size: 0.9rem;
    color: black;
}

.custom-contact-form {
    /* color: black; */
    /* color: rgba(255, 255, 255, 0.123); */
    display: flex;
    justify-self: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 10%;
    width: 43%; /* Inherit width from .custom-description */
    margin-right: 7.9%;
    
}

.custom-left-section,
.custom-right-section {
    width: 37.2%; /* Ensures both sections fit within .custom-description */
}
.custom-left-section {
    margin-left: 0; /* Remove the left margin that might be adding unwanted spacing */
}
input::placeholder, textarea::placeholder {
    color: black;
    /* margin-left: 1%; */
}

.custom-left-section input,
.custom-right-section textarea {
    background: rgba(255, 255, 255, 0.404);
    width: 100%; /* Fills available width within each section */
    padding: 1em;
    margin-bottom: 1em;
    /* color: black; */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-right-section {
    display: flex;
    flex-direction: column;
}

.custom-right-section textarea {
    height: 100%;
    min-height: 2em;
    resize: none;
}

.custom-form-container h2{
    /* padding: 2em; */
    padding: 2em;
    margin-top: 4%;
    margin-bottom: 1%;
    color: white;
}
.custom-right-section button {
    align-self: flex-start;
    padding: .5em 2em;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.custom-right-section button:hover {
    background-color: #555;
}
/* part that sucks here */
footer {
    position: relative; /* Allow absolute positioning inside the footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
    /* background-color: #f5f5f5; */
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); */
    margin-top: 2%;
    width: 100%;
}

footer .text {
    /* margin-bottom: 20px; */
}

footer .footer-image {
    /* position: absolute; Position the image relative to the footer */
    justify-self: flex-start;
    /* max-width: 50px; Adjust size as needed */
    margin-left: 89%;
    /* height: auto; */
}
.text h2{
    font-size: 2em;
}
.text h3{
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 1em;
}

.text h4{
    margin-top: 2%;
    font-size: .8em;
    margin-bottom: 3%;
}
hr {
    /* margin: 10px 0; */
    border: 1px solid #ddd;
    width: 100vw; /* Full viewport width */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


@media screen and (max-width: 1440px){
    .custom-form-container{
        height: 40vh;
 
}
    
}
@media screen and (max-width: 770px) {
    .three-cards{
        width: 100%;
        /* height: 10%; */
        overflow: hidden;
        font: .2em;
    }
}