*{
    margin: 0%;
    padding: 0%;

}
.custom-form-container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: auto;
    background-image: url('assets/img14.jpg'); /* Update this path as needed */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-description {
    width: 40%; /* Set total width to 40% */
    margin: 0 auto 20px auto;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 8px;
    padding: 2em;
    font-size: 0.9rem;
    color: black;
}

.custom-contact-form {
    /* color: black; */
    /* color: rgba(255, 255, 255, 0.123); */
    display: flex;
    justify-self: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 10%;
    width: 43%; /* Inherit width from .custom-description */
    margin-right: 1.5%;
    
}

.custom-left-section,
.custom-right-section {
    width: 48%; /* Ensures both sections fit within .custom-description */
}
.custom-left-section {
    margin-left: 0; /* Remove the left margin that might be adding unwanted spacing */
}
input::placeholder, textarea::placeholder {
    color: black;
}

.custom-left-section input,
.custom-right-section textarea {
    background: rgba(255, 255, 255, 0.404);
    width: 100%; /* Fills available width within each section */
    padding: 10px;
    margin-bottom: 10px;
    /* color: black; */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-right-section {
    display: flex;
    flex-direction: column;
}

.custom-right-section textarea {
    height: 100%;
    min-height: 135px;
    resize: none;
}
.custom-form-container h2{
    /* padding: 2em; */
    margin-top: 2%;
    margin-bottom: 1%;
    color: white;
}
.custom-right-section button {
    align-self: flex-start;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.custom-right-section button:hover {
    background-color: #555;
}
