.contact-form{
    background-image: url('assets/img14.jpg');
    /* background-size: 120%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh; 
    /* width: 20px; */
    margin-top: 4%;
    /* fix make sure they all have consistant top margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* margin: 0 auto; */
    /* margin-left: 50%; */
}
.contact-info p{
    width: 40%;
    font-size: .7em;
    background-color: rgba(255, 255, 255, 0.295);
    justify-self: center;
    padding: 2rem 3rem ;
    /* background-color: black; */
}
.contact-form h3{
    /* font-size: 1.7em; */
    /* margin-top: ; */
    color: white;
    padding: .5rem 2rem;
    /* width: 20%; */
    background-color: black;
}
.group1{
    display: flex;
}
.lil-info{
    flex-direction: column;
}